<div class="settings-box">
	<div class="settings-container">
	  <h2 class="title">设置</h2>
		<hr />
	  <div class="profile">
			<!-- 呢称邮件-->
	    <div class="control-group">
	      <form class="settings-form" 
	      		[formGroup]="settingsForm"  
	      		(ngSubmit)="onSubmit(settingsForm.value)">
	          <div class="form-group">
	        		<label class="control-label">昵称</label>
	        		<input 
	        			placeholder="2-15字符，中英文、数字和下划线" 
	        			type="text" 
	        			class="form-control"
	        			formControlName="nickname"
	        			[(ngModel)]="userNickname" >
	          </div>
						<button type="submit" 
							class="btn btn-block btn-lg btn-primary" 
							[disabled]="!settingsForm.valid">保 存</button>
	        </form>
	    </div>

		</div>
		<!-- content 结束 -->
	</div>
</div>