# Logs
*.log
npm-debug.log*

# Runtime data
*.pid
.tmp
.vscode

###############
.DS_Store
node_modules
#dist
typings/

##push server
#/*
#!/dist
#!server.js
#!/logs
#!package.json
#!process.json
#*.log
#*.pid