  <div class="comment-container clearfix">
    <div class="comment-head clearfix">
      {{ commentList.length || 0 }}条评论
        <a href="javascript:;" (click)="goComment()" class="goto-comment pull-right"><i class="fa fa-pencil"></i>添加新评论</a>
    </div>
    <div id="comment_list">
        <div class="comment-item" *ngFor="let comment of commentList; let i = index">
          <div class="content">
            <div class="meta-top">
              <a class="avatar">
                <img [src]="comment.user_id.avatar || defaultAvatar" alt="comment.user_id.nickname" />
              </a>        
              <a class="author-name link-light">{{comment.user_id.nickname}}</a>
              <span class="reply-time">
                {{comment.created | date:'y.MM.dd  HH:mm'}}
              </span>
            </div>
            <p class="comment-content">{{comment.content}}</p>
            <div class="comment-footer text-right">
              <a class="reply" href="javascript:;" (click)="showReply(i, comment.user_id.nickname)">回复</a>
            </div>
            <reply *ngIf="comment.replys.length > 0" (showReplyEvent)="showReply($event.index,$event.nickname)" [replys]="comment.replys" [k]="i"></reply>

             <form id="replyForm{{i}}" 
                class="new-reply hide"
                #f="ngForm" (ngSubmit)="submitReply(i,f.value,comment._id)"> 
               <div class="comment-text"> 
                  <textarea id="replyContent{{i}}" 
                      maxLength="2000" 
                      placeholder="写下你的回复…"
                      ngControl="replyContent"
                      >
                  </textarea> 
                  <div> 
                    <input type="submit" value="发 表" class="btn btn-sm btn-info" />
                  </div> 
               </div>
             </form>

          </div>
        </div>               
   
    </div>

      <form *ngIf="user" #f="ngForm" class="new_comment" (ngSubmit)="submitComment()">
        <div class="comment-text">
          <textarea
            name="commentContent"
            maxLength="2000" 
            v-model="newCommentContent" 
            placeholder="写下你的评论…" 
            id="comment_content"
            ngControl="commentContent"
            [(ngModel)]="submitCommentContent"></textarea>
          <div>
            <input type="submit" id="comment_submit_btn" value="发 表" class="btn btn-info" />
          </div>
        </div>
      </form>
      <div *ngIf="!user">
        <p class="comment-signin">
            <button class="btn btn-info" (click)="openLoginModal()">登录后发表评论</button>  
        </p>
      </div>
  </div>